@font-face {
  /* font designed by Alan Dague-Greene */
  font-family: courier;
  src: url(/fonts/CourierPrime-Regular.ttf);
}

@font-face {
  /* font designed by Emre Parlak */
  font-family: major;
  src: url(/fonts/MajorMonoDisplay-Regular.ttf);
}

@font-face {
  /* font designed by Juan Pablo del Peral & Huerta Tipográfica */
  font-family: alegreya;
  src: url(/fonts/Alegreya-Regular.ttf);
}

body {
  margin: 0px;
}

/* REGULAR TEXT */
* {
  font-family: courier;
}

h1 {
  color: white;
  font-family: major;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;

  background-image: url(images/night-hill-2.jpg);
  background-size: 100%;
  background-position-y: center;

  margin: 0px;
  padding: 120px;
}

h2 {
  text-transform: lowercase;

  margin: 20px 10px;
}

p {
  text-transform: lowercase;

  margin: 20px 10px;
}

/* EMPHASIZED EXPLANATION */
.explanation-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;

  margin: 20px 10px;
  margin-bottom: 50px;
}

.explanation-container > * {
  width: 50%;
  padding: 0px 20px;
  margin: 0px;
}
.explanation-left {
  text-align: right;
}
.explanation-right {
  text-align: left;
}

.explanation-container > h2 {
  font-size: 31px;
  text-transform: uppercase;
}

/* LINKS */
.link-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  background: #595d42;

  padding: 5px 0px;
}

.link-container > a,
.link-subcontainer > a {
  text-decoration: none;
  color: white;
  text-transform: lowercase;
  font-size: small;
  font-family: major;
  text-align: center;

  box-sizing: border-box;
  background: #595d42;

  margin: 0px 5px;
  padding: 5px 10px;
}

.link-container > a:hover,
.link-subcontainer > a:hover {
  background: #2d3711;
}

.link-subcontainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background: lightgrey;
}
